{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}

	<h3>
		Search Books
	</h3>

	<input class="fomr_control" type="text" name="search" placeholder="Search..." hx-post="/profile/search/api" hx-trigger="keyup changed delay:500ms, search" hx-target="#search-results">
	<div id="search-results"></div>

{% endblock %}
